
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    text-shadow: none;
    max-width: 600px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
}

label {
    font-weight: bold;
    margin-right: 10px;
    color: #1E90FF;
}

input[type="text"], input[type="email"],input[type="date"], textarea, select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
    transition: 0.3s;
}

#item_year {
    margin-bottom: 20px;
}

.submit-btn {
    background-color: #1E90FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"] {
    float: right;
}

.error-message {
    position: relative;
    color: red;
    font-size: 12px;
    bottom: 24px;
    padding: 1px;
}


section {
    width: 100%;
}