body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}

header {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to bottom, #2196f3, #00b6f9);
    color: #e3f2fd;
    text-shadow: 4px 4px 4px #aaa;
    font-family: monospace;
    width: 100%;
}

nav {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: transparent;
    color: #e3f2fd;
}
  
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    padding: 10px;
}
  
nav ul li a {
    color: #e3f2fd;
    text-decoration: none;
    padding: 5px;
}
  
nav ul li a:hover {
    border-radius: 5px;
    color: #e3f2fd;
    background-color: rgba(0,0,0,0.2);
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #64b5f6;
    min-width: 160px;
    box-shadow: 8px 16px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

.linha {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 10px;
    justify-content: center;
    
}
  
card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    max-width: 200px;
    border-radius: 10px;
    background-color: white;
}
  
card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    transition: 0.2s;

}
  
card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

card h2 {
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    height: 30%;
}

card p {
    font-size: 14px;
    height: 20%;
}

card button {
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0e68c2;
    transition: 0.2s;
}

h1.titulolinha {
    margin-top: 20px;
    text-align: center;
}